<div id="container">
	<div class="block">
		<a href="/watch">
			<img src="images/watch.png">
			<p>Watch</p>
		</a>
	</div>
	<div class="block">
		<a href="/add">
			<img src="images/addFilms.png">
			<p>Add Film / TV series</p>
		</a>
	</div>
	<div class="block">
		<a href="/list">
			<img src="images/listFilms.png">
			<p>List Films</p>
		</a>
	</div>
</div>