<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
